.p1{
    background: linear-gradient(127.33deg, rgba(69, 175, 245, 0.6) 24.54%, rgba(132, 206, 255, 0.6) 56.95%);
    --main-bg-color: #41ABF0;
  }
/*
  .bgShape1{
      position: absolute;
      width: 100%;
      bottom: 0;  
      z-index: 1;
      pointer-events: none;
  }*/
  .bgShape1{
    position: absolute;
    width: 100%;
    top: 100%;
    transform: translate(0%, -100%);
    bottom: 0;  
    z-index: 1;
    pointer-events: none;
  }
  
  /**/
  #mainTextCnt{
    position: absolute;
    transform: translate(20vw, 60%);
    color: white;
    z-index: 2;
  }
  
  h1{
    font-size: 55px;
    font-weight: 800; 
    margin-bottom: 0;
  }
  .callToAction{
    font-size: 18px;
    font-weight: 600;
    border: none;
    border-radius: 18px;  
    padding: 1.5em;  
    padding-right: 2.5em;
    padding-top: 1em;
    padding-bottom: 1em;
    cursor: pointer;
    color: var(--main-bg-color);    
  }
  .callToAction:hover{
    opacity: 0.9;
  }
  .callToAction:focus{
    outline: none;
  }
  .callToAction:active{
    filter:invert(100%);
  }
  .fixup{
    transform: translate(-375%, -2%);
    color: var(--main-bg-color);
  }