.navBar{    
    position: fixed; 
    top: 0;
    width: 100vw;
    color: white;
    font-weight: 500;
    border: 1px solid red;
    display: inline-flex;
    /*add glassmorphism when scrolling down*/   
  }
  .menuLinks{    
    position: relative;
    display: right;    
    width: fit-content;
    right: 0;    
    border: 1px solid red;
  }
  
  .menuItem{
    cursor: pointer;
    margin-right:1em;    
    border: 1px solid red;
  }

  img{
    display: inherit;
    left: 0;
    border: 1px solid red;
  }